<% if !flash[:notice].blank? %>
  <div class = "alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>

<br />

<%= link_to "New Note", new_note_path, class: "btn btn-primary" %>
  <br />
  <br />

  <table class = "table table-bordered table-striped">
    <thead>.
      <tr>
        <th>Name</th>
        <th>Download Link</th>
        <th>Open Contents</th>
        <th> </th>
      </tr>
    </thead>

    <tbody>
      <% @notes.each do |note| %>

        <tr>
          <td><%= note.name %></td>
          <td><%= link_to "Download Note", note.attachment_url %></td>
          <td><%= link_to "Open Note", note ,method: :show %></td>
          <td><%= button_to "Delete",  note, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{note.name}?" %></td>
          </tr>

        <% end %>
      </tbody>

    </table>